/* Start Font 
import url('https://fonts.googleapis.com/css?family=Roboto')
 End Font */
/*Start Body*/
body {
    background-color: whitesmoke;
    color: maroon;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin-left: 10px;
    padding: 0;
    
}
/* End Body */

/* JS */
/* Menu */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
.snip1476 {
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.snip1476 * {
  box-sizing: border-box;
}
.snip1476 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}
.snip1476 li:before,
.snip1476 li:after {
  display: block;
}
.snip1476 li:before {
  left: 0%;
}
.snip1476 li:after {
  left: 50%;
}
.snip1476 a {
  backface-visibility: hidden;
  color: #e6e6e6;
  display: block;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.snip1476 a:hover {
  color: #ffffff;
}
.snip1476 a:before {
  left: 25%;
}
.snip1476 a:after {
  left: 75%;
}
.snip1476 li:before,
.snip1476 li:after,
.snip1476 a:before,
.snip1476 a:after {
  background-color:salmon;
  position: absolute;
  width: 26%;
  top: 50%;
  bottom: 50%;
  content: '';
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.snip1476 li:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1476 li:after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.snip1476 a:before {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.snip1476 a:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.snip1476 li:hover:before,
.snip1476 li.current:before,
.snip1476 li:hover:after,
.snip1476 li.current:after,
.snip1476 li:hover a:before,
.snip1476 li.current a:before,
.snip1476 li:hover a:after,
.snip1476 li.current a:after {
  opacity: 1;
  top: 0;
  bottom: 0;
}
.snip1476 li:hover:before,
.snip1476 li.current:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1476 li:hover:after,
.snip1476 li.current:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.snip1476 li:hover a:before,
.snip1476 li.current a:before {
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s;
}
.snip1476 li:hover a:after,
.snip1476 li.current a:after {
  -webkit-transition-delay: 0.225s;
  transition-delay: 0.225s;
}
/* Demo purposes only */
/* Icon set - http://ionicons.com */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1268 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
  line-height: 1.6em;
}
.snip1268 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.snip1268 .image {
  position: relative;
}
.snip1268 img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.snip1268 .icons,
.snip1268 .add-to-cart {
  position: absolute;
  left: 20px;
  right: 20px;
  opacity: 0;
}
.snip1268 .icons {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  top: 20px;
  display: flex;
  justify-content: space-between;
}
.snip1268 .icons a {
  width: 32.5%;
  background: #ffffff;
}
.snip1268 .icons a:hover {
  background: #000000;
}
.snip1268 .icons a:hover i {
  color: #ffffff;
  opacity: 1;
}
.snip1268 .icons i {
  line-height: 46px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  opacity: 0.7;
  margin: 0;
}
.snip1268 .add-to-cart {
  position: absolute;
  bottom: 20px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  font-size: 0.8em;
  color: #000000;
  line-height: 46px;
  letter-spacing: 1.5px;
  background-color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.snip1268 .add-to-cart:hover {
  background: #000000;
  color: #ffffff;
}
.snip1268 figcaption {
  padding: 20px 20px 30px;
}
.snip1268 h2,
.snip1268 p {
  margin: 0;
  text-align: left;
}
.snip1268 h2 {
  margin-bottom: 10px;
  font-weight: 700;
}
.snip1268 p {
  margin-bottom: 15px;
  font-size: 0.85em;
  font-weight: 500;
}
.snip1268 .price {
  font-size: 1.3em;
  opacity: 0.5;
  font-weight: 700;
  text-align: right;
}
.snip1268:hover img,
.snip1268.hover img {
  opacity: 0.8;
}
.snip1268:hover .icons,
.snip1268.hover .icons,
.snip1268:hover .add-to-cart,
.snip1268.hover .add-to-cart {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
/* End JS */

/* Start Debug */
.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red
}
/* End Debug */

/* Start Container */
.container-menu {
    margin: 10px auto;
    overflow: auto;
    width: 63%
}
.container {
    margin: 10px auto;
    overflow: auto;
    width: 98%:
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Hyperlink */
a:link,
a:visited {
    color: brown;
    text-decoration: none;
}
a:hover,
a:active{
    color: darkred;
    text-decoration: underline;
}
/* End Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: coral;
    border-radius: 10px;
    box-shadow: 
    0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);
}

.menu-primer li {
    border-right: 1px solid rgb(183, 195, 230);
    display: inline-block;
}

.menu-primer a {
    color: cornsilk;
    font-size: 13px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: beige;
    color: coral;
    text-decoration: none;
}

/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: bisque;
    border: 1px solid beige;
    border-radius: 4px;
    padding: 20px;
}
.jumbotron h1 {
    font size: 50px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 30px;
    padding: 0 20px;
}
.jumbotron h5 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Main */
.main-home-one{
    float: left;
    width: 49%;
}
.main-home-two{
    float: right;
    width: 49%;
}
/* End Main */

.main-home-one .isi,
.main-home-two .isi {
    height: 120px;
}

/* Heading */
.heading {
    background-color: rgb(250, 198, 178);
    border: 1px solid beige;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.heading h4 {
    font-size: 14px;
    margin: 0;
}
.isi {
    background-color: bisque;
    border: 1px solid beige;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;

}
/* Heading */

/* Menu Sekunder */
.menu-sec {
    background-color: rgb(250, 198, 178);
    border-bottom: 1px solid beige;
    border-top: 1px solid beige;
    overflow: auto;
    padding: 10px 0;
}
.menu-sec h4 {
    font-size: 14px;
    margin: auto;
    text-transform: capitalize;
}
.menu-sec ul{
    padding: 0;
}
.menu-sec li{
    list-style: disc;
}
.menu-sec li a
.menu-sec li p{
    font-size: 15px;
}
.menu-sec-one,
.menu-sec-two,
.menu-sec-three {
    float: right;
}
.menu-sec-one {
    width: 40%;
}
.menu-sec-two, .menu-sec-three {
    width: 30%;
}
.menu-sec li img {
    vertical-align: middle;
}
/* Menu Sekunder */

.copyright p {
    font-size: 15px;
    margin-left: 10px;
}

